# Entorno virtual
.venv/

# Variables privadas
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Generaciones locales de la API
projects/generated/api/

# IDE
.vscode/
.idea/

# macOS
.DS_Store
